*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    font-weight: normal;
}

.suitStackContainer .Red {
    color: red
}

.mainStackContainer .mainStack .Red {
    color: red
}

.deckContainer .Red {
    color: red
}

* .selected {
    border: 2px solid grey
}

